<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sunilsahoo.game"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".GameApplication"
        tools:ignore="UnusedAttribute"
        tools:replace="android:name"/>

</manifest>
